[Unit]
Description=Galera Clustercheck
After=mysql.target network.target

[Service]
Type=simple
User=galera-clustercheck
Group=galera-clustercheck
WorkingDirectory=/var/lib/galera-clustercheck/
# options could be provided by sysconfig file e.g.
ExecStart=/usr/bin/rackup $GALERA_CLUSTERCHECK_OPTIONS /usr/share/galera-clustercheck/config.ru
Restart=on-failure

[Install]
WantedBy=multi-user.target

